{% extends 'base.html'   %}

{% block main %}

    <br>
    <h1>
        {% if excluir == 1 %}
            Excluir
        {% else %}
            Informações Sobre
        {% endif %}Local
    </h1>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col" style="font-size: large">
                <label for="id_tipoLoca"> Tipo: </label>
                <select name="tipoLocal" class="formStyle" id="id_tipoLoca"  disabled>
                    <option value="2"> Ponto de Entrega Voluntária</option>
                    <option value="3"> Associação </option>
                    <option value="1"> Porta a Porta</option>
                </select>
                <br>
                <br>

                <label for="id_rotul"> Rótulo: </label>
                <br>
                <input id="id_rotul" class="formStyle" name="rotulo" type="text" readonly/>
                <br>
                <br>

                <label for="id_cidad"> Cidade: </label>
                <br>
                <input id="id_cidad" class="formStyle" name="cidade" type="text" readonly/>
                <br>
                <br>

                <label for="id_logradour">Insira o Logradouro:</label>
                <br>
                <input id="id_logradour" class="formStyle" name="logradouro" type="text" readonly/>
                <br>
                <br>

                <label for="id_numer" id="lbl_numer">Insira o Numero:</label>
                <br>
                <input id="id_numer" class="formStyle" name="numero" type="number" readonly/>
                <br>
                <br>

                <a href="{% url 'listarAdmin' %}"
                   class="btn btn-danger" id="btn_pesquisar" type="submit" style="width: 100px; font-size: large;
                   position: relative; left: 40px;">
                    {% if excluir == 1 %}
                        Cancelar
                    {% else %}
                        Voltar
                    {% endif %}</a>

                <input name="local" id="id_local" style="visibility: hidden;"/>

                {% if excluir == 1 %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-success" id="btn_excluir" type="submit" style="width: 100px; font-size:
                        large; position: relative; left: 200px; top: -36px;"> Excluir </button>
                    </form>
                {% endif %}
                <div style="visibility: hidden;">
                    {{ form }}
                </div>
            </div>

            <div class="col-lg-6" id="map" style="height: 500px">
                <script
                    src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                    crossorigin="anonymous">
                </script>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script>
        function verificaTipo() {
            var tipo = document.getElementById('id_tipoLocal').value;

            if (tipo == 1) {
                {% if excluir == 1 %}
                    document.getElementById('btn_excluir').style.top = '-120px';
                {% endif %}
                document.getElementById('btn_pesquisar').style.top = '-85px';
                document.getElementById('lbl_numer').style.visibility = 'hidden';
                document.getElementById('id_numer').style.visibility = 'hidden';
                document.getElementById('id_numer').value = 0;
                document.getElementById('id_local').value = 1;
            } else {
                {% if excluir == 1 %}
                    document.getElementById('btn_excluir').style.top = '-36px';
                {% endif %}
                document.getElementById('btn_pesquisar').style.top = '0px';
                document.getElementById('lbl_numer').style.visibility = 'visible';
                document.getElementById('id_numer').style.visibility = 'visible';
                document.getElementById('id_local').value = 0;
            }
        }
    </script>

    <script>
        var myLatLng = { lat: -19, lng: -44 };
        var endereco = '';

        //preenchimento do formPersonalizado
        document.getElementById('id_cidad').value = document.getElementById('id_cidade').value;
        document.getElementById('id_logradour').value = document.getElementById('id_logradouro').value;
        document.getElementById('id_numer').value = document.getElementById('id_numero').value;
        document.getElementById('id_rotul').value = document.getElementById('id_rotulo').value;
        document.getElementById('id_tipoLoca').value = document.getElementById('id_tipoLocal').value;

        function initMap() {
            verificaTipo();

            endereco = document.getElementById('id_cidade').value + ',' + document.getElementById('id_logradouro').value + ',' +
                   document.getElementById('id_numero').value;
            var urlFinal = "https://maps.googleapis.com/maps/api/geocode/json?address=" + endereco + "+&key=AIzaSyCrA8_ecJlm-M7Pvl2wn3V8BwCylin2FXY";

            $.ajax({
                type: "get",
                dataType: "json",
                url: urlFinal,
                success: function (data) {
                    myLatLng.lat = parseFloat(document.getElementById('id_latitude').value);
                    myLatLng.lng = parseFloat(document.getElementById('id_longitude').value);
                   

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 19,
                        center: myLatLng
                    });

                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: document.getElementById('id_rotulo').value
                    });
                }
            });
        }
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
        async defer>
    </script>

{% endblock %}